body {
    background-color: teal;
    color: rgb(1, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}

header {
    display: flex;
    height: 50px;
    justify-content: center;
}

form input.studentForm {
    width: 15rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(103, 135, 135, 0.8);
    color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
    border-radius: 20px;
    padding: 0.4rem;
}

form input#submitBtn {
    background-color: rgba(195, 218, 218, 0.8);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    width: 5rem;
    height: 2rem;
    border-radius: 4em;
}

form input#submitBtn:hover {
    background-color: rgba(32, 197, 197, 0.8);
    cursor: pointer;
}